* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: block;
}
#main {
  display: block;
}
#shopping-cart {
  border: 1px solid black;
}
#header {
  height: 46px;
  background-color: #003366;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
}

#nav,
.cart-btn {
  display: inline-block;
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover a {
  color: #fff;
  background-color: #ccc;
}

.cart-btn {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 24px;
}
.cart-btn:hover {
  color: #fff;
  background-color: #ccc;
}
#search-bar {
  width: 200px;
  height: 28px;
}
#container {
  margin: 80px auto;
  width: 850px;
}
.text-center {
  display: flex;
  justify-content: center;
}
.table-border {
  width: 100%;
  border-collapse: collapse;
  border-top: none;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.btn-remove {
  background-color: #ff523b;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}
.btn-remove:hover {
  opacity: 0.5;
  background-color: #ff523b;
  transition: 0.2s;
}
.btn-pay {
  background-color: #ff523b;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}
.btn-pay:hover {
  opacity: 0.5;
  background-color: #ff523b;
}
td img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: #ff523b;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 12px;
  text-decoration: none;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 350px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.form-control {
  width: 200px;
}
/* back btn */
.back-icon {
  text-decoration: none;
  padding: 12px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  border-radius: 6px;
  border: none;
  background-color: #ff523b;
  cursor: pointer;
}
.back-icon:hover {
  opacity: 0.5;
  background-color: #ff523b;
  transition: 0.2;
}
