* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #333;
}

.container-fluid {
  padding: 0;
}

/* icon */
.fa.fa-star,
.fa.fa-star-half {
  color: #fb6e2f;
  margin-right: 4px;
}

.fa.fa-heart,
.fa.fa-heart-o {
  transform: scale(1.2);
}
.fa.fa-heart {
  color: #e91111;
  background-color: #e91111;
}

/* Navigation bar */

header .container-fluid {
  padding: 0;
}

.navbar {
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.7s ease-out normal forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  padding: 8px;
}

.navbar .navbar-nav .nav-item#shopDropdown .main-menu {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  background: #fff;
  position: absolute;
  border: none;
  top: 50px;
  left: 0;
  width: 250px;
  z-index: 99;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  padding: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.navbar .navbar-nav .nav-item#shopDropdown:hover .main-menu {
  display: block;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 5px;
  margin-left: -1px;
  border-radius: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: "";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -13px;
  right: -11px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #fff;
}

.checkout {
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  width: 18px;
}

/* Banner */
.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 40% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(../Images/nav-icon.png) no-repeat scroll 0 0;
  left: 10px;
}
.owl-carousel .next-slide {
  background: url(../Images/nav-icon.png) no-repeat scroll -24px 0px;
  right: 10px;
}

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

/* Top product */

.top-products {
  padding: 50px;
}

.top-products__header {
  display: flex;
  justify-content: center;
}

.top-products__header h1 {
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.top-products__header h1::after {
  content: "";
  display: block;
  margin-top: 10px;
  border: 1px solid #f53f85;
}

.search-bar {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 220px;
  position: relative;
  font-size: 18px;
  color: #666;
  padding: 4px 8px;
  margin-left: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.search-field input {
  border: none;
  font-size: 14px;
}

.search-field input:focus {
  outline: none;
}

.search-field .search-btn {
  background: transparent;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field .search-btn:focus {
  outline: none;
}

.search-bar select#brands {
  border: none;
  outline: none;
}

.top-products__list {
  margin-top: 25px;
}

.top-products__item {
  padding: 25px 10px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  min-height: 375px;
  max-height: 100%;
  position: relative;
}

.top-products__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.5s;
}

.top-products__item:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.top-products__item:hover .top-products__item__img {
  transform: translateY(-25px);
}

.top-products__item:hover .item-name {
  color: #016090;
}

.top-products__item h3 {
  font-size: 18px;
}

.top-products__item .wishlist {
  position: absolute;
  top: 10px;
  right: 0;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}

.top-products__item:hover .wishlist {
  transform: translateX(-100%);
  opacity: 1;
}

/* All brand */
.all-brands {
  padding: 50px;
}

.grid .grid-item {
  width: 25%;
}

.grid .grid-item .top-products__item {
  height: 415px;
}

/* product detail */
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  max-width: 100%;
}

.product-img-list {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-img-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  aspect-ratio: 1.3 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-img-item img {
  max-width: 100%;
  height: 100%;
}

.breadcrumb {
  background-color: transparent;
  padding: 0.75rem 1rem 0.75rem 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;
}

.product-detail-info > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-detail-info-price .product-price {
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

[data-quantity] {
  position: relative;
  width: 100%;
  max-width: 11rem;
  padding: 0;
  margin: 0;
  border: 0;
}

[data-quantity] legend {
  display: none;
}

[data-quantity] input {
  font-size: 18px;
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  border: 0;
  background: #fff;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: lighter;
}

[data-quantity] input:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
}

[data-quantity] input[type="number"]::-webkit-inner-spin-button,
[data-quantity] input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-quantity] input[type="number"] {
  -moz-appearance: textfield;
}

[data-quantity] button {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 0.6rem;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
    no-repeat 0 0;
  background-size: 5.6rem 2.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
}

[data-quantity] button:active {
  background-position-y: 1px;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

[data-quantity] button:focus {
  outline: none;
}

[data-quantity] button:hover {
  opacity: 1;
}

[data-quantity] button.sub {
  left: 0.6rem;
}

[data-quantity] button.add {
  right: 0.6rem;
  background-position-x: -2.8rem;
}

.product-add-to-cart .add-to-cart {
  background-color: #3f48cc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* detail description */
.additional-attributes ul li {
  font-size: 14px;
  display: flex;
  -webkit-display: flex;
  flex-flow: row nowrap;
  flex: 1 100;
  padding: 10px;
  align-items: flex-start;
}

.additional-attributes ul li:nth-child(odd) {
  background-color: #f5f5f5;
}

.additional-attributes ul li p {
  width: 140px;
  margin-bottom: 0;
}

.additional-attributes ul li div {
  width: calc(100% - 140px);
}

/* footer */
footer {
  background-color: #111827;
  color: rgb(172, 169, 169);
}

footer .container {
  padding: 20px;
}

footer .container .row .col h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

footer .container .row .col a {
  color: rgb(128, 126, 126);
}

footer .container .row .col a:hover {
  color: rgb(150, 148, 148);
}

.info .contact-info i {
  width: 16px;
  margin-right: 5px;
}

footer .container .row .col .social-network-info {
  display: flex;
  align-self: center;
}

.social-network-info i {
  font-size: 20px;
  padding: 10px;
}
